.library {
	min-height: 100vh;
	background-color: black;
}

.library__header {
	color: white;
	text-align: center;
	padding: 5rem 2rem;
}

.library__top__text {
	color: var(--logo-green);
	font-size: 1.2rem;
	font-weight: 600;
	letter-spacing: 0.86px;
	margin-bottom: 1rem;
}

.library__title {
	font-size: 3.6rem;
	font-weight: bold;
	margin-bottom: 1.6rem;
}

.library__description {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 500;
}

.library__grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem;
	padding: 2rem;
}

.library__grid__item {
	display: block;
}

.library__grid__item img {
	width: 100%;
	height: auto;
}
